body {
    font-family: "Sono", sans-serif;
    background-color: #E2E0C8;
}

.pricing-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.pricing-plan {
    background-color: #A7B49E;
    flex: 1;
    max-width: 400px;
    text-align: center;
    border-radius: 1rem;
    font-weight: bold;
    padding: 20px;
}

.plan-title {
    margin-bottom: 10px;
    font-size: 24px;
}

.plan-price {
    margin-bottom: 10px;
    font-size: 48px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    margin-bottom: 20px;
}

button {
    border-radius: 0.25rem;
    background-color: #818C78;
    font-weight: bold;
    padding: 10px;
}

@media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
} 